<ul id="accordionSidebar"
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            PZ Server Manager
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li data-username="Mods" class="nav-item">
        <a href="index.html" class="nav-link"><i class="fa-solid fa-layer-group"></i><span>Mods</span></a>
    </li>
    <li data-username="Logs" class="nav-item">
        <a href="logs.html" class="nav-link"><i class="fa-solid fa-layer-group"></i><span>Logs</span></a>
    </li>
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
